#root {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  box-shadow: 0 0 3px #e9e8e7, 0 0 10px #e9e8e7, 0 0 15px #e9e8e7;
}
button:focus {
  outline: none;
}
button:active {
  background: radial-gradient(circle, #e6e5e5, #e6e5e5);
}
.button-hover:hover {
  background: radial-gradient(circle, #e6e5e5, #e6e5e5);
}
